.align {
    /* padding: 1em; */
    display: inline-block;
    overflow: hidden;
}

foreignObject div {
    text-align: center;
    display: table-cell;
    /* vertical-align: middle; */
    height: 200px;
    width: 200px;
    font-size: 25px;
}

foreignObject {
    display: table;
}