.align {
    display: inline-block;
    overflow: hidden;
}

foreignObject div {
    text-align: center;
    display: table-cell;
    height: 200px;
    width: 200px;
    font-size: 25px;
}

foreignObject {
    display: table;
}

button {
    width: 50%;
}